<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>ERDDAPLM - {% block title %}{% endblock %}</title>
        <link href="/static/bootstrap.min.css" rel="stylesheet">
        <link href="/static/bootstrap-icons.min.css" rel="stylesheet">
        <link rel="manifest" href="/static/manifest.json" />
    </head>
    <body>
        {% block content %}{% endblock %}

        <script src="/static/bootstrap.bundle.min.js"></script>
    </body>
</html>
